<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}
		<script src="{{ "js/highlight.min.js" | absURL }}"></script>
    {{ range .Site.Params.highlightLanguages }}
				{{- $remoteScriptName := printf "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/%s.min.js" . -}}
				{{- $remoteScript := resources.GetRemote $remoteScriptName -}}
				<script>{{ $remoteScript.Content }}</script>
    {{ end }}
    <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- custom -->
{{ range .Site.Params.js }} <script src="{{ . | absURL }}"></script> {{ end }}

<!-- jquery -->
<script src="{{ "js/jquery.min.js" | absURL }}"></script>

<!-- bootstrap -->
<script src="{{ "js/bootstrap.min.js" | absURL }}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>
